body {
    background-image: url(./img/space-small.jpg);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#calculatorBody {
    display: flex;
    background-color: #233A6C;
    flex-direction: column;
    height: 700px;
    width: 550px;
    border-style: solid;
    border-width: 15px;
    border-color: #5D80CB;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 6px 6px 18px black;
}

#displayContainer {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 20px;
    height: 120px;
    width: 500px;
    border-style: solid;
    border-width: 4px;
    border-color: #14213D;
    border-radius: 12px;
    background-image: url(./img/display-background.png);
}

.display {
    /* background-color: #E5E5E5; */
    width: 500px;
    text-align: end;
}

#mainDisplay {
    height: 70px;
    font-size: 60px;
    color: #373737;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#previousDisplay {
    height: 50px;
    font-size: 40px;
    color: #6D6D6D;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


#buttonContainer {
    align-self: center;
    margin-top: 15px;
    height: 500px;
    width: 500px;
}

.row {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 500px;
}

.topRow {
    justify-content: center;
}

.button {
    align-self: center;
    height: 90px;
    width: 90px;
    margin: 5px 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    font-size: 30px;
    border-color: #E5E5E5;
    color: #E8EDF8;
    box-shadow: 3px 3px 10px black;
}

.button:active {
    transform: scale(.95);
}

.numButton, #decimalbtn {
    background-color: #8d99ae;
}

#equalsbtn, .operatorButton {
    background-color: #275c75;
}

#backspacebtn, #clearbtn {
    background-color: #FCA311;
}

#backspacebtn {
    font-size: 45px;
    line-height: 1em;
    text-align: center;
    padding-right: 12px;
    margin-right: 132px;
}