body {
    background-image: url(./img/space-small.jpg);
    display: flex;
    justify-content: center;
}

#calculatorBody {
    display: flex;
    background-color: #233A6C;
    flex-direction: column;
    height: 700px;
    width: 550px;
    border-style: solid;
    border-width: 2px;
    border-color: #E5E5E5;
    margin-top: 50px;
}

#displayContainer {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 20px;
    height: 120px;
    width: 500px;
    border-style: solid;
    border-width: 4px;
    border-color: #14213D;
}

.display {
    background-color: #E5E5E5;
    width: 500px;
    text-align: end;
}

#mainDisplay {
    height: 70px;
    font-size: 60px;
    color: #373737;
}

#previousDisplay {
    height: 50px;
    font-size: 40px;
    color: #6D6D6D;
}


#buttonContainer {
    align-self: center;
    margin-top: 15px;
    height: 500px;
    width: 500px;
}

.row {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 500px;
}

.topRow {
    justify-content: center;
}

.button {
    align-self: center;
    height: 90px;
    width: 90px;
    margin: 5px 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    font-size: 30px;
    border-color: #E5E5E5;
    color: #E8EDF8;
}

.numButton, #decimalbtn {
    background-color: #8d99ae;
}

#equalsbtn, .operatorButton {
    background-color: #275c75;
}

#backspacebtn, #clearbtn {
    background-color: #FCA311;
}